* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
	text-align: center;
}


section {
	width: 100vw;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	

}
section img {
	position: absolute;
}

section h2 {
	font-size: 100px;
	mix-blend-mode: overlay;
}