body {
    background-color: rgb(240, 240, 240);

}
#mainContainer {
    margin: 10px;
}
.subheader{
    font-size: 10px;
    margin: 5px 0;
}
.countries-count{
    color: orange;
    font-weight: normal;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0;
}
#mainInput {
    width: 450px;
    height: 30px;
    margin: 10px 0;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    min-height: 120px;
    margin: 5px 3px;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 3px;
    background-color: rgb(254, 255, 255);
    z-index: 2;
}
.card:hover {
    box-shadow: 4px 4px 4px rgba(255, 166, 0, 0.11); 
}

.flag {
    width: 90px;
    height: 50px;
    background: no-repeat center;
    background-size: contain;
    
}

.country-name {
    margin: 5px 0 2px;
    color: orange;
    font-size: 14px;
}
.country-info {
    height: auto;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 11px;
}
.capital {
    text-align: left;
}
.languages {
    max-height: 50px;
    width: 110px;
    text-align: left;
    word-wrap: break-word;
}
.population {
    text-align: left;
    margin: 3px 0;
}




/* buttons */
.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button {
    width: 110px;
    height: 30px;
    padding: 3px 10px;
    font-size: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 179, 39);
    cursor: pointer;
}
.button:hover {
    box-shadow:  1px 1px 2px gray;
    scale: 1.05;
}
.active1 {
    background-color: rgb(255, 189, 66);
}
#sort-button{
    color: rgba(255, 173, 20, 0.616);
    border: none;
    font-size: 25px;
    cursor: pointer;
}
#sort-button:hover{
    scale: 1.1;
}




.spinner {
    position: absolute;
    z-index: 1;
    top: 75px;
    animation: spinnerRotate 4s infinite linear;
    transition: animation 0.5s;
}
@keyframes spinnerRotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}