* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
	text-align: center;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Trebuchet MS', sans-serif;
}
#mainContainer {
    
    margin: 10px;
}
.subheader {
    font-size: 10px;
    font-weight: normal;
    margin: 5px 0;
}
.countries-count {
    color: orange;
    font-weight: normal;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 0;
}
#mainInput {
    width: 450px;
    height: 30px;
    margin: 10px 0;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;
    min-height: 120px;
    margin: 5px 3px;
    padding: 7px 5px;
    font-size: 13px;
    border-radius: 3px;
    background-color: rgb(254, 255, 255);
    z-index: 2;
}
.card:hover {
    box-shadow: 4px 4px 4px rgba(255, 166, 0, 0.11);
}

.flag {
    width: 90px;
    height: 50px;
    margin: 0 auto;
    background: no-repeat center;
    /* background-size: contain; */
    border: 0.5px solid rgba(211, 211, 211, 0.836);
}

.country-name {
    font-family: Arial, sans-serif;
    margin: 3px auto;
    color: #ffa500;
    font-size: 14px;
}
/* .country-info {
    height: auto;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 11px;
} */
.capital {
    text-align: left;
    font-size: 11px;
}
.languages {
    max-height: 78px;
    max-width: 110px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}
.population {
    text-align: left;
    margin: 3px 0;
    font-size: 11px;
}

/* buttons */
.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button {
    width: 110px;
    height: 30px;
    padding: 3px 10px;
    font-size: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 179, 39);
    cursor: pointer;
}
.button:hover {
    box-shadow: 1px 1px 2px gray;
    scale: 1.05;
}
.active1 {
    background-color: rgb(253, 165, 0);
}
#sort-button {
    color: rgba(255, 173, 20, 0.616);
    border: none;
    font-size: 25px;
    cursor: pointer;
}
#sort-button:hover {
    scale: 1.1;
}

.spinner {
    position: absolute;
    z-index: 1;
    top: 75px;
    animation: spinnerRotate 4s infinite linear;
    transition: animation 0.5s;
}
@keyframes spinnerRotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

/*statistic */
.statistic-continer {
    display: none;
}
.statistic-buttons-subheader {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: white;
}
.statistic-button {
    width: 80px;
    height: 20px;
    padding: 3px 10px;
    font-size: 8px;
    border: none;
    background-color: rgb(255, 179, 39);
    cursor: pointer;
}

.statistics-block,
.statistics-block-1 {
    width: 560px;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 90px 400px 70px;
    row-gap: 10px;
    font-size: 10px;
}
.statistics-block-1 {
    margin: 10px auto;
}
.statistics-block-name {
    padding-right: 10px;
    text-align: left;
    font-size: 10px;
}

.percentage-container {
    position: relative;
}
.statistics-block-percentage {
    position: absolute;
    width: 300px;
    height: 15px;
    background-color: rgb(255, 179, 39);
    z-index: 3;
}
#statistics-block-percentage-world {
    width: 100%;
}
.statistics-block-percentage-gray {
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: rgb(240, 240, 240);
    z-index: 2;
}
.statistics-block-population {
    padding-left: 10px;
    text-align: left;
}

footer {
    display: none;
    width: 560px;
    margin: 80px auto 20px;
    text-align: left;
    cursor: pointer;
}
.footer-paragraph {
    text-decoration: none;
    color: rgb(255, 179, 39);
}
